 .App {
    display: flex;
  }
  
  .Sidebar{
    width: 7vw;
    height: 100vh;
    background-color: gray;
    position: fixed;
  }
  
  .Navbar {
    height: 12vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }
  
  .NavbarImg{
    position: absolute;
    width: 93vw;
    height: 12vh;
    z-index: -10;
  }
  
  @media screen and (max-width: 1000px) {
    .Sidebar{
      width: 12vw;
    }
    .Navbar {
      width: 88vw;
    }
    .NavbarImg{
      width: 88vw;
    }
  }
  
  .cl-internal-11ewti4{
    margin: 8px;
    width: auto;
    height: auto;
  }
  
  .cl-internal-g6a67s:focus{
    box-shadow: none;
  }
  
  .cl-avatarImage{
    width: 40px;
    height: 40px;
  }
  