  .Sidebar{
    width: 7vw;
    height: 100vh;
    background-color: gray;
    position: fixed;
  }
  
  .Navbar {
    height: 10vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }
  
  .NavbarImg{
    position: absolute;
    width: 93vw;
    height: 10vh;
    z-index: -10;
  }
  
  .cl-internal-11ewti4{
    margin: 8px;
    width: auto;
    height: auto;
  }
  
  .cl-internal-g6a67s:focus{
    box-shadow: none;
  }
  
  .cl-avatarImage{
    width: 4.5vmin;
    height: 4.5vmin;
  }

  @media screen and (max-width: 1000px) {
    .Sidebar{
      width: 12vw;
    }
    .Navbar {
      width: 88vw;
    }
    .NavbarImg{
      width: 88vw;
    }
  }

  @media screen and (max-width: 800px) {
    .Navbar {
      width: 95vw;
      height: 8vh;
      display: flex;
    }
    .NavbarImg{
      width: 100vw;
    }

    .cl-avatarImage{
      width: 7vmin;
      height: 7vmin;
    }

    .Sidebar{
      display: none;
    }
    
  }

  /* .cl-userButtonTrigger */
  